/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background-image: url('https://cdn.discordapp.com/splashes/974519864045756446/e6d9ec039453518e00a707d5741cfd59.jpg?size=3072');
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 1440px; */
  height: 700px;
  /* height: auto; */
  color: #EEE;
}

.card{
  overflow-y: auto;
  overflow-x:hidden;
  min-height: 450px;
  max-height: 450px;
}

.card-body{
  flex: none;
}
pre{
  white-space:pre-wrap;
  /* line-height: 1; */
}

.input-group-text{
  padding: 0.75rem 0.75rem;
}

.playIcon{
  cursor: pointer;
}

.grid-main{
  display: grid;
  grid-template-columns: auto auto;
  gap:20px;
}

.grid-main span{
  border: 1px solid black;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.grid-main span:hover{
  background-color: whitesmoke;
}

button{
  padding: 10px 20px;
  font-weight: 500;
  background-color: aquamarine;
}